*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} 
body 
{
  background-color:cadetblue;
  text-align: center;
}
button
{
  padding: 7px;
  border-radius: 10px;
  background:rgb(157, 224, 187);
  width: 140px;
  margin-top: 8%;
}
select, input{
  margin:8px;
  width: 40%;
  padding:10px;
  border-radius: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container{
  background-color: rgb(235, 231, 184);
  margin-right: 15vw;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
}

main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

}
#tabela{
  display:block;
  border-radius: 16px;
  height: 150px;
  border-radius: 5px;
  box-sizing: border-box;
  margin:2vw;
}

#tabela th{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 18px;
  background-color: antiquewhite;
  box-shadow: 0 0 10px black;
  border-radius: 2px;
}
.titulo{
  font-size:larger;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.info{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}